# Node
node_modules/

# Build outputs
app/dist/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store

# Env
.env
.env.*.local

# Misc
*.local
*.log

# Vite
app/.vite/
.vite/

# Coverage
coverage/
